
body{
    background-color: rgb(17, 17, 17);
}

.Input {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    width: 80px;
    height: 30px;
    padding: 6px 10px;
    margin: 2px;
    box-sizing: border-box;
    border: 3px solid rgb(44, 44, 44);
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    color:white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.Input:hover {background-color: rgb(25, 25, 25)}

.Button{
    border: 3px solid rgb(44, 44, 44);
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    height: 48px;
    width: 100px;
    transition: 0.5s;
    
    margin: 7px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.Button:hover {background-color: rgb(25, 25, 25)}

.Button:disabled,
.Button[disabled]{
  border: 1px solid rgb(38, 38, 38);
  background-color: rgb(25, 25, 25);
}

.Logo {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Middle {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Square {
    border-width: 20px;
    border-color: blue;
}

.SquareColor {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 10px;
    border-color: rgb(44, 44, 44);
    height: 150px;
    width:150px;
}

.Attempts {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.Table {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */

    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.Row {
    align-items: center;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;
    width: 100px;
    height: 10px;
    margin: 5px;
    
    

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}